<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div class="header">
    <a class="header_link" th:href="'/user/' + ${userId}">My page</a>
    <a class="header_link" href="/tests">All tests</a>
    <a class="header_link" href="/users">All users</a>
</div>

<div th:each="user : ${users}">
    <!--/*@thymesVar id="user" type="com.tihonovcore.testenv.model.User"*/-->
    <a th:href="'/user/' + ${user.getId()}" th:text="${user.getName()}">Edit test</a>
</div>
</body>
</html>