<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${test.getTitle()}"></title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div class="header">
    <a class="header_link" th:href="'/user/' + ${userId}">My page</a>
    <a class="header_link" href="/tests">All tests</a>
    <a class="header_link" href="/users">All users</a>
</div>

<h2 th:text="${test.getTitle()}"></h2>
<p th:text="${test.getDescription()}"></p>

<form th:action="'/dotest/' + ${test.getId()}" method="post">
    <!--/*@thymesVar id="question" type="com.tihonovcore.testenv.model.Question"*/-->
    <div th:each="question : ${test.getQuestions()}">
        <h4 th:text="${question.getQuestion()}"></h4>

        <!--/*@thymesVar id="answer" type="com.tihonovcore.testenv.model.Answer"*/-->
        <div th:each="answer : ${question.getAnswers()}">
            <label>
                <span th:text="${answer.getAnswer()}"></span>
                <input type="checkbox" th:name="${question.getId()} + '_' + ${answer.getId()}">
            </label>
        </div>
    </div>

    <input type="submit" value="Send">
</form>
</body>
</html>
