<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit ' + ${title} + ' test'"></title>

    <link rel="stylesheet" href="/editTest.css">
</head>
<body>
<a href="/tests">All tests</a>

<h3 th:text="${title}"></h3>
<table>
    <thead>
    <tr>
        <td>Questions</td>
        <td>Answers</td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    <!--/*@thymesVar id="question" type="com.tihonovcore.testenv.model.Question"*/-->
    <tr th:each="question : ${questions}">
        <td th:text="${question.getQuestion()}"></td>
        <td th:text="${question.getAnswers()}"></td>
        <td><a th:href="'/tests/' + ${testId} + '/question/' + ${question.getId()} + '/edit'">Edit question</a></td>
    </tr>
    </tbody>
</table>

<hr>

<form th:action="'/tests/' + ${testId} + '/edit/question/add'" method="post">
    <div>
        <label>
            Question
            <input type="text" name="question">
        </label>
    </div>
    <div>
        <label>
            <select id="number_of_questions" name="select">
                <option value="2">2 questions</option>
                <option value="3">3 questions</option>
                <option value="4" selected>4 questions</option>
            </select>
        </label>
    </div>

    <div id="answer_1">
        <label>
            Answer 1
            <input type="text" name="answer_1">
            Is correct
            <input type="checkbox" name="answer_is_correct_1">
        </label>
    </div>

    <div id="answer_2">
        <label>
            Answer 2
            <input type="text" name="answer_2">
            Is correct
            <input type="checkbox" name="answer_is_correct_2">
        </label>
    </div>

    <div id="answer_3">
        <label>
            Answer 3
            <input type="text" name="answer_3">
            Is correct
            <input type="checkbox" name="answer_is_correct_3">
        </label>
    </div>

    <div id="answer_4">
        <label>
            Answer 4
            <input type="text" name="answer_4">
            Is correct
            <input type="checkbox" name="answer_is_correct_4">
        </label>
    </div>
    <input type="submit" value="Add new question">
</form>

<script src="/numberOfQuestions.js"></script>
</body>
</html>
