<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>

    <link rel="stylesheet" href="/editTest.css">
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div class="header">
    <a class="header_link" th:href="'/user/' + ${userId}">My page</a>
    <a class="header_link" href="/tests">All tests</a>
    <a class="header_link" href="/users">All users</a>
</div>

<form th:action="'/tests/' + ${testId} + '/question/' + ${questionId} + '/edit'" method="post">
    <div>
        <label>
            Question
            <input type="text" name="question" th:value="${question.getQuestion()}">
        </label>
    </div>
    <div>
        <label>
            <select id="number_of_questions" name="select">
                <option value="2" th:selected="${question.getAnswers().size() == 2}">2 answers</option>
                <option value="3" th:selected="${question.getAnswers().size() == 3}">3 answers</option>
                <option value="4" th:selected="${question.getAnswers().size() == 4}">4 answers</option>
            </select>
        </label>
    </div>

    <div id="answer_1">
        <label>
            Answer 1
            <input type="text" name="answer_1" th:value="${question.getAnswerByIndex(0)}">
            Is correct
            <input type="checkbox" name="answer_is_correct_1" th:checked="${question.getIsCorrectByIndex(0)}">
            <span style="color:red" th:if="${hasErrors}" th:text="${messages.get(0)}"></span>
        </label>
    </div>

    <div id="answer_2">
        <label>
            Answer 2
            <input type="text" name="answer_2" th:value="${question.getAnswerByIndex(1)}">
            Is correct
            <input type="checkbox" name="answer_is_correct_2" th:checked="${question.getIsCorrectByIndex(1)}">
            <span style="color:red" th:if="${hasErrors}" th:text="${messages.get(1)}"></span>
        </label>
    </div>

    <div id="answer_3">
        <label>
            Answer 3
            <input type="text" name="answer_3" th:value="${question.getAnswerByIndex(2)}">
            Is correct
            <input type="checkbox" name="answer_is_correct_3" th:checked="${question.getIsCorrectByIndex(2)}">
            <span style="color:red" th:if="${hasErrors}" th:text="${messages.get(2)}"></span>
        </label>
    </div>

    <div id="answer_4">
        <label>
            Answer 4
            <input type="text" name="answer_4" th:value="${question.getAnswerByIndex(3)}">
            Is correct
            <input type="checkbox" name="answer_is_correct_4" th:checked="${question.getIsCorrectByIndex(3)}">
            <span style="color:red" th:if="${hasErrors}" th:text="${messages.get(3)}"></span>
        </label>
    </div>
    <input type="submit" value="Update">
    <a th:href="'/tests/' + ${testId} + '/edit'">Cancel</a>
</form>

<script src="/numberOfQuestions.js"></script>
</body>
</html>
