<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div><a href="/login">Login page</a></div>

<form th:object="${user}" method="post" action="/registration">
    <label>
        Name:
        <input type="text" name="name">
    </label>
    <label>
        Password:
        <input type="password" name="password">
    </label>
    <input type="submit" value="Register">
</form>
<div style="color:red" th:text="${errorMessage == null ? '' : errorMessage }"></div>
</body>
</html>
