<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
</head>
<body>
<a th:href="'/user/' + ${userId}">My page</a>

<table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test : ${testsList}">
        <!--/*@thymesVar id="test" type="com.tihonovcore.testenv.model.Test"*/-->
        <td><span th:text="${test.getTitle()}"> Title </span></td>
        <td><span th:text="${test.getDescription()}"> Author </span></td>
        <td><a th:href="'/user/' + ${userId} + '/dotest/' + ${test.getId()}">Pass test</a></td>
        <td><a th:href="'/user/' + ${userId} + '/tests/' + ${test.getId()} + '/edit'">Edit test</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
