<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h4 th:text="${user.getName()}"></h4>
<a href="/logout">Logout</a>

<h4>Passed tests</h4>
<a th:href="'/tests/'">All tests</a>
<table>
    <thead>
    <tr>
        <td>Test id</td>
        <td>Score</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${user.getPass()}">
        <!--/*@thymesVar id="result" type="com.tihonovcore.testenv.model.Result"*/-->
        <td><span th:text="${result.getTid()}"> Test id </span></td>
        <td><span th:text="${result.getScore()}"> Score </span></td>
        <!-- TODO: show only for current user -->
        <td><a th:href="'/result/' + ${result.getId()}">Full result</a></td>
    </tr>
    </tbody>
</table>

<h4>Authored tests</h4>
<a href="/tests/add">Add new test</a>
<table>
    <thead>
    <tr>
        <td>Test id</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test : ${user.getAuthor()}">
        <!--/*@thymesVar id="test" type="com.tihonovcore.testenv.model.Test"*/-->
        <td><span th:text="${test.getTitle()}"> Test title </span></td>
        <!-- TODO: show only for current user -->
        <td><a th:href="'/result/test/' + ${test.getId()}">All results</a></td>
        <!-- TODO: show only for current user -->
        <td><a th:href="'/tests/' + ${test.getId()} + '/edit'">Edit test</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
