<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h4 th:text="${user.getName()}"></h4>
<form action="/" method="get">
    <input type="submit" value="Logout">
</form>

<h4>Passed tests</h4>
<table>
    <thead>
    <tr>
        <td>Test id</td>
        <td>Score</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${user.getPass()}">
        <!--/*@thymesVar id="result" type="com.tihonovcore.testenv.model.Result"*/-->
        <td><span th:text="${result.getTid()}"> Test id </span></td>
        <td><span th:text="${result.getScore()}"> Score </span></td>
        <td><a th:href="'/user/' + ${user.getId()} + '/result/' + ${result.getId()}">Full result</a></td>
    </tr>
    </tbody>
</table>

<h4>Authored tests</h4>
<table>
    <thead>
    <tr>
        <td>Test id</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test : ${user.getAuthor()}">
        <!--/*@thymesVar id="test" type="com.tihonovcore.testenv.model.Test"*/-->
        <td><span th:text="${test.getTitle()}"> Test title </span></td>
        <td><a th:href="'/user/' + ${user.getId()} + '/tests/' + ${test.getId()} + '/edit'">Edit test</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
