<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div class="header">
    <a class="header_link" th:href="'/user/' + ${user.getId()}">My page</a>
    <a class="header_link" href="/tests">All tests</a>
    <a class="header_link" href="/users">All users</a>
</div>

<h4 th:text="${user.getName()}"></h4>

<div th:if="${user.getId() == currentUserId}">
    <a href="/tests/add">Add new test</a>
    <a href="/logout">Logout</a>
</div>

<h4>Passed tests</h4>
<table>
    <thead>
    <tr>
        <td>Test id</td>
        <td>Score</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${user.getPass()}">
        <!--/*@thymesVar id="result" type="com.tihonovcore.testenv.model.Result"*/-->
        <td><span th:text="${result.getTid()}"> Test id </span></td>
        <td><span th:text="${result.getScore()}"> Score </span></td>
        <td><a th:if="${currentUserId == user.getId()}" th:href="'/result/' + ${result.getId()}">Full result</a></td>
    </tr>
    </tbody>
</table>

<h4>Authored tests</h4>
<table>
    <thead>
    <tr>
        <td>Test id</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test : ${user.getAuthor()}">
        <!--/*@thymesVar id="test" type="com.tihonovcore.testenv.model.Test"*/-->
        <td><span th:text="${test.getTitle()}"> Test title </span></td>
        <td><a th:if="${currentUserId == user.getId()}" th:href="'/result/test/' + ${test.getId()}">All results</a></td>
        <td><a th:if="${currentUserId == user.getId()}" th:href="'/tests/' + ${test.getId()} + '/edit'">Edit test</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
